<!-- Creado por: Sangwin Gawande (https://sangw.in) -->

<div class="w3-container" *ngIf="studentDetail">
	<div class="w3-panel w3-round-small w3-teal">
		<h3>
			<!-- Título de la página de detalles del estudiante -->
			Detalles del Estudiante
			<button [routerLink]="['/update', index]" class="w3-button w3-blue custom-button">
				<!-- Botón para editar el estudiante -->
				<i class="w3-medium fa fa-pencil"></i> Editar
			</button>
			<button routerLink="/" class="w3-button w3-green custom-button margin-right">
				<!-- Botón para regresar a la lista de estudiantes -->
				<i class="w3-medium fa fa-chevron-left"></i> Regresar
			</button>
		</h3>
	</div>
	<div class="w3-card custom-card"><br>
		<h3 class="text-center">
			<!-- Nombre y apellido del estudiante -->
			{{studentDetail.nombre}} {{studentDetail.apellido}}
		</h3>
		<hr>
		<table class="w3-table w3-bordered">
			<tr>
				<td>
					<!-- Icono de Dni -->
					<i class="w3-medium custom-icon fa fa-phone"></i> DNI
				</td>
				<td>: <b>{{studentDetail.dni}}</b></td>
			</tr>
			<tr>
				<td>
					<!-- Icono de usuario -->
					<i class="w3-medium custom-icon fa fa-user"></i>Nombre
				</td>
				<td>: <b>{{studentDetail.nombre}}</b></td>
			</tr>
			<tr>
				<td>
					<!-- Icono de usuario -->
					<i class="w3-medium custom-icon fa fa-user"></i>Apellido
				</td>
				<td>: <b>{{studentDetail.apellido}}</b></td>
			</tr>
			<tr>
				<td>
					<!-- Icono de sobre de correo -->
					<i class="w3-medium custom-icon fa fa-envelope-o"></i> Dirección de Correo Electrónico
				</td>
				<td>: <b>{{studentDetail.correo}}</b></td>
			</tr>
			<tr>
				<td>
					<!-- Icono de teléfono -->
					<i class="w3-medium custom-icon fa fa-phone"></i> Carrera
				</td>
				<td>: <b>{{studentDetail.carrera}}</b></td>
			</tr>
			<tr>
				<td>
					<!-- Icono de teléfono -->
					<i class="w3-medium custom-icon fa fa-phone"></i> Teléfono
				</td>
				<td>: <b>{{studentDetail.telefono}}</b></td>
			</tr>
			
		</table>
	</div>
</div>

<!-- Creado por: Sangwin Gawande (https://sangw.in) -->
