<!-- Barra lateral -->
<!-- Esta sección define la barra lateral con un menú y un logo -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2" style="z-index:3;width:250px;" id="mySidebar">
	<!-- Logo -->
	<a target="_blank"><img src="assets/logo-upds-blanco.png" class="logo" width="200px"></a>
	<a target="_blank"><img src="assets/letra.png" class="logo" width="200px"></a>
	<!-- Elementos del menú -->
	<a class="w3-bar-item w3-button" [ngClass]="{'w3-teal': (active == '/')}" routerLink="/"> <i class="w3-medium fa fa-user"></i>  Lista de Estudiantes</a>
	<a class="w3-bar-item w3-button" routerLink="/add" [ngClass]="{'w3-teal': (active == '/add')}"> <i class="w3-medium fa fa-plus"></i>  Agregar nuevo Estudiante</a>
	<a class="w3-bar-item w3-button" (click)="logOut()"><i class="w3-medium fa fa-sign-out"></i>  Cerrar sesión</a>
</nav>

<!-- Cargar contenidos principales -->
<div class="w3-main" style="margin-left:250px;">
	<div class="w3-container">
	<!-- Iniciar enrutamiento secundario -->
		<router-outlet></router-outlet>
	</div>
</div>

<!-- Creado por: Sangwin Gawande (https://sangw.in) -->
<!-- Aquí se indica que este código fue creado por Sangwin Gawande y se proporciona un enlace a su sitio web. -->
