<div class="w3-container" *ngIf="studentAddForm">
	<form class="w3-container" [formGroup]="studentAddForm" (ngSubmit)="doRegister()">
		<div class="w3-panel w3-round-small w3-teal">
			<!-- Título del formulario, cambia según si es un registro nuevo o una actualización -->
			<h3>
				<span *ngIf="index == undefined">Registro de Estudiante</span>
				<span *ngIf="index != undefined">Actualizar Estudiante</span>
				<a routerLink="/" class="w3-button w3-green custom-button"><i class="w3-medium fa fa-chevron-left"></i> Regresar</a>
			</h3>
		</div>
		<label class="w3-text-blue">
			<!-- Icono de dni -->
			<i class="w3-medium custom-icon fa fa-phone"></i><b>DNI</b>
		</label>
		<input class="w3-input w3-border" type="number" formControlName="dni">
		<div class="w3-panel w3-red" *ngIf="studentAddForm.controls['dni'].invalid && (studentAddForm.controls['dni'].dirty || studentAddForm.controls['dni'].touched)">
			<!-- Mensaje de error para el campo "telefono" -->
			Por favor, ingresa un número de DNI válido
		</div>
		
		<label class="w3-text-blue">
			<!-- Icono de usuario -->
			<i class="w3-medium custom-icon fa fa-user"></i><b>Nombre</b>
		</label>
		<input class="w3-input w3-border" type="text" formControlName="nombre">
		<div class="w3-panel w3-red" *ngIf="studentAddForm.controls['nombre'].invalid && (studentAddForm.controls['nombre'].dirty || studentAddForm.controls['nombre'].touched)">
			<!-- Mensaje de error para el campo "nombre" -->
			Por favor, ingresa entre 3 y 50 caracteres
		</div>

		<label class="w3-text-blue">
			<!-- Icono de usuario -->
			<i class="w3-medium custom-icon fa fa-user"></i><b>Apellido</b>
		</label>
		<input class="w3-input w3-border" type="text" formControlName="apellido">
		<div class="w3-panel w3-red" *ngIf="studentAddForm.controls['apellido'].invalid && (studentAddForm.controls['apellido'].dirty || studentAddForm.controls['apellido'].touched)">
			<!-- Mensaje de error para el campo "apellido" -->
			Por favor, ingresa entre 3 y 50 caracteres
		</div>

		<label class="w3-text-blue">
			<!-- Icono de sobre de correo -->
			<i class="w3-medium custom-icon fa fa-envelope-o"></i><b>Dirección de Correo Electrónico</b>
		</label>
		<input class="w3-input w3-border" type="text" formControlName="correo" >
		<div class="w3-panel w3-red" *ngIf="studentAddForm.controls['correo'].invalid && (studentAddForm.controls['correo'].dirty || studentAddForm.controls['correo'].touched)">
			<!-- Mensaje de error para el campo "correo" -->
			Por favor, ingresa una dirección de correo electrónico válida
		</div>
		<label class="w3-text-blue">
			<!-- Icono de usuario -->
			<i class="w3-medium custom-icon fa fa-user"></i><b>Carrera</b>
		</label>
		<select class="w3-select w3-border" formControlName="carrera">
			<option value="Ingeniería Informática">Ingeniería Informática</option>
			<option value="Administración de Empresas">Administración de Empresas</option>
			<option value="Medicina">Medicina</option>
			<option value="Psicología">Psicología</option>
			<option value="Derecho">Derecho</option>
			<option value="Arquitectura">Arquitectura</option>
			<option value="Ingeniería Mecánica">Ingeniería Mecánica</option>
			<!-- Agrega más opciones según las carreras ofrecidas en tu universidad -->
		</select>
		<div class="w3-panel w3-red" *ngIf="studentAddForm.controls['carrera'].invalid && (studentAddForm.controls['carrera'].dirty || studentAddForm.controls['carrera'].touched)">
			<!-- Mensaje de error para el campo "carrera" -->
			Por favor, selecciona una carrera válida
		</div>
		
		

		<label class="w3-text-blue">
			<!-- Icono de teléfono -->
			<i class="w3-medium custom-icon fa fa-phone"></i><b>Teléfono</b>
		</label>
		<input class="w3-input w3-border" type="number" formControlName="telefono">
		<div class="w3-panel w3-red" *ngIf="studentAddForm.controls['telefono'].invalid && (studentAddForm.controls['telefono'].dirty || studentAddForm.controls['telefono'].touched)">
			<!-- Mensaje de error para el campo "telefono" -->
			Por favor, ingresa un número de teléfono válido
		</div>
		
		
		<br>
		<button class="w3-btn w3-blue" type="submit" [disabled]="!studentAddForm.valid">
			<span *ngIf="index == undefined">Registrar</span>
			<span *ngIf="index != undefined">Actualizar</span> <i class="w3-medium fa fa-check"></i>
		</button>
	</form>
</div>
