<!-- Barra lateral -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2" style="z-index:3;width:250px;" id="mySidebar">
	<!-- Logo -->
	<a target="_blank"><img src="assets/logo-upds-blanco.png" class="logo" width="200px"></a>
	<a target="_blank"><img src="assets/letra.png" class="logo" width="200px"></a>
	<!-- Enlaces de la barra lateral -->
	<a class="w3-bar-item w3-button" routerLink="/"> <i class="w3-medium fa fa-user"></i>Acerca De</a>
	<a class="w3-bar-item w3-button" routerLink="/add"  > <i class="w3-medium fa fa-plus"></i>Contacto</a>
</nav>

<div class="w3-container align-center w3-card login-card">
	<div class="container">
		<div class="login">
			<form [formGroup]="loginForm" (ngSubmit)="doLogin()">
				<div class="text-center">
					<a target="_blank"><img src="assets/logo-upds-blanco.png" class="logo" width="200px"> <!-- Modifica el valor de width según tus necesidades -->
					</a>
				</div>

				<!-- Campo de entrada para el correo electrónico -->
				<label class="w3-text-blue"><b>Correo Electrónico</b></label>
				<input class="w3-input w3-border" type="email" formControlName="email">
				<!-- Mensaje de error para el correo electrónico inválido -->
				<div class="w3-panel w3-red"  *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">Por favor, introduce una dirección de correo electrónico válida</div>

				<!-- Campo de entrada para la contraseña -->
				<label class="w3-text-blue"><b>Contraseña</b></label>
				<input class="w3-input w3-border" type="password" formControlName="password">
				<!-- Mensaje de error para la contraseña inválida -->
				<div class="w3-panel w3-red"  *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">La contraseña debe tener al menos 6 caracteres y contener un número</div>
				<br>
				<!-- Botón para iniciar sesión -->
				<button class="w3-btn w3-blue" type="submit" [disabled]="!loginForm.valid">Iniciar sesión <i class="w3-medium fa fa-check"></i> </button>
			</form>

			<!-- Notas informativas -->
			<div class="w3-panel w3-blue-gray">
				<h4>Notas:</h4>
				<p>Credenciales: <b>admin@yopmail.com</b> y <b>admin123</b></p>
				<p>Todos los datos se restaurarán al actualizar la página</p>
				<br/>
			</div>
		</div>
	</div>
</div>
