/*Created By : Sangwin Gawande (https://sangw.in)*/
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	
}
.align-center {
	width: 40%;
	/* El margen ya está establecido en el .login-card */
}

.login-card {
	max-width: 400px;
	margin: 0 auto;
	background-color:rgb(0, 70, 134);
}
#mySidebar {
    background-color:rgb(0, 70, 134);
}

/*Created By : Sangwin Gawande (https://sangw.in)*/