<!-- Creado por: Sangwin Gawande (https://sangw.in) -->

<div class="w3-container" *ngIf="studentListData">
	<div class="w3-panel w3-round-small w3-teal">
		<h3>
			<!-- Título de la lista de estudiantes -->
			Lista de Estudiantes 
			<button routerLink="/add" class="w3-button w3-green custom-button">
				<!-- Botón para agregar un nuevo estudiante -->
				<i class="w3-medium  fa fa-plus"></i> Agregar Nuevo Estudiante
			</button>
		   
		</h3>
		
	</div>
	<div class="export-button">
		<button (click)="exportToExcel()" class="w3-button w3-green custom-button">
		  <!-- Botón para exportar a Excel -->
		  <i class="w3-medium fa fa-download"></i> Exportar a Excel
		</button>
	  </div>
	
	<span>
		<i class="w3-medium fa fa-search"></i> Buscar: 
		<input class="" type="text" [(ngModel)]='filterData'>
	</span>

	<div class="w3-panel w3-green" *ngIf="(studentListData | filter:filterData).length == 0">
		<h3>¡Oh no!</h3>
		<p>No se encontraron estudiantes 
			<span *ngIf="filterData">
				<!-- Mensaje que muestra el término de búsqueda si se proporciona -->
				con la búsqueda "{{filterData}}"
			</span>
		</p>
	</div>
	<div class="w3-panel w3-light-grey w3-padding-16 w3-card-2" *ngIf="(studentListData | filter:filterData | filter:filterData).length != 0">
		<table class="w3-table w3-striped w3-bordered">
			<tr>
				<th>
					<!-- Columna de número -->
					<i class="w3-medium custom-icon fa fa-refresh"></i> N°
				</th>
				<!-- <th>ID</th> -->
				<th>
					<!-- Columna de dnei -->
					<i class="w3-medium custom-icon fa fa-phone"></i> DNI
				</th>
				<th>
					<!-- Columna de nombre -->
					<i class="w3-medium custom-icon fa fa-user"></i> Nombre
				</th>
				<th>
					<!-- Columna de apellido -->
					<i class="w3-medium custom-icon fa fa-user"></i> Apellido
				</th>
				<th>
					<!-- Columna de correo electrónico -->
					<i class="w3-medium custom-icon fa fa-envelope-o"></i> Correo Electrónico
				</th>
				<th>
					<!-- Columna de teléfono -->
					<i class="w3-medium custom-icon fa fa-phone"></i>Carrera
				</th>
				<th>
					<!-- Columna de carrera -->
					<i class="w3-medium custom-icon fa fa-phone"></i> Telefono
				</th>
				<th>
					<!-- Columna de actualización -->
					<i class="w3-medium custom-icon fa fa-pencil"></i> Actualizar
				</th>
				<th>
					<!-- Columna de eliminación -->
					<i class="w3-medium custom-icon fa fa-trash"></i> Eliminar
				</th>
			</tr>
			<tr *ngFor="let student of studentListData | filter:filterData; index as i;" appHighlightStudent>
				<td>{{i +1}}</td>
				<td class="pointer" [routerLink]="['detail', i]">{{student.dni}}</td>
				<td class="pointer" [routerLink]="['detail', i]">{{student.nombre}} </td>
				<td class="pointer" [routerLink]="['detail', i]">{{student.apellido}}</td>
				<td class="pointer" [routerLink]="['detail', i]">{{student.correo}}</td>
				<td class="pointer" [routerLink]="['detail', i]">{{student.carrera}}</td>
				<td class="pointer" [routerLink]="['detail', i]">{{student.telefono | phone}}</td>
				
				<td>
					<button [routerLink]="['update', i]" class="w3-button w3-blue">
						<!-- Botón para actualizar -->
						Actualizar
					</button>
				</td>
				<td>
					<button (click)="deleteStudent(i);" class="w3-button w3-red">
						<!-- Botón para eliminar -->
						Eliminar
					</button>
				</td>
			

			</tr>
		</table>
	</div>
</div>

<!-- Creado por: Sangwin Gawande (https://sangw.in) -->
