/*Created By : Sangwin Gawande (https://sangw.in)*/
td {
    vertical-align: middle;
}
.button-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .custom-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #45a049;
  }
  
  .export-button {
    margin-left: auto; /* Esto alinea el botón a la derecha */
  }
  
/*Created By : Sangwin Gawande (https://sangw.in)*/